@use '@/shared/styles/main.scss' as *;

.feedActions {
  display: flex;
  flex-direction: row;
  gap: 18px;

  &--grid {
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    @include FontStyles();
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1px;

    &-icon {
      width: 18px;
      height: 18px;
    }
  }
}