@use '../../../../shared/styles/main.scss' as *;

.feedList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &--grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}